{{ form_start(form, {'attr': {'id': form.vars.id }}) }}
    <div class="form-floating mb-3">
        {{ form_widget(form.title, {'attr': {'placeholder': 'label.title', 'class': 'bg-transparent border-secondary'}}) }}
        {{ form_label(form.title, 'label.title') }}
        {{ form_errors(form.title) }}
    </div>
    {% if form.file is defined %}
        <div class="mb-3">
            {{ form_widget(form.file, {'attr': {'class': 'bg-transparent border-secondary'}}) }}
            {{ form_errors(form.file) }}
        </div>
    {% endif %}
    <div class="form-floating">
        {{ form_widget(form.playlists, {'attr': {'placeholder': 'label.playlists', 'class': 'bg-transparent border-secondary', 'style': 'height: 15rem;'}}) }}
        {{ form_label(form.playlists, 'label.playlists') }}
        {{ form_errors(form.playlists) }}
    </div>
{{ form_end(form) }}
