{% extends 'base.html.twig' %}

{% block title %}{{ 'management.edit_video'|trans }}{% endblock %}

{% block body %}
    <section class="container-fluid mt-3">
        <div class="d-flex justify-content-between align-items-center">
            <h1>{{ 'management.edit_video'|trans }}</h1>
            <div>
                <button class="btn btn-success" form="{{ form.vars.id }}">{{ 'action.edit'|trans }}</button>
                <a class="btn btn-primary" href="{{ path('app_videos_index') }}">{{ 'management.list_video'|trans }}</a>
            </div>
        </div>
        <div class="row gx-2">
            <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                {{ include('videos/_form.html.twig') }}
            </div>
            <div class="col-12 col-lg-6">
                <video class="img-thumbnail" src="data:video/mp4;base64,{{ video|base64 }}" controls></video>
            </div>
        </div>
    </section>
{% endblock %}
