{% extends 'base.html.twig' %}

{% block title %}{{ 'management.list_video'|trans }}{% endblock %}

{% block body %}
    <section class="container-fluid mt-3">
        <div class="d-flex justify-content-between align-items-center">
            <h1>{{ 'management.list_video'|trans }}</h1>
            <a class="btn btn-primary" href="{{ path('app_videos_new') }}">{{ 'management.add_video'|trans }}</a>
        </div>
        <div class="table-responsive">
            <table class="table table-sm table-striped table-hover border-dark">
                <thead>
                    <tr>
                        <th>{{ 'app_name'|trans }}</th>
                        <th>{{ 'label.import_at'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for video in videos %}
                        <tr>
                            <td>
                                <a href="{{ path('app_videos_edit', {'id': video.id}) }}">{{ video.title }}</a>
                            </td>
                            <td>{{ video.createAt|format_datetime() }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">{{ 'management.no_records'|trans }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
