{% extends 'base.html.twig' %}

{% block title %}{{ 'management.add_video'|trans }}{% endblock %}

{% block body %}
    <section class="container-fluid mt-3">
        <div class="d-flex justify-content-between align-items-center">
            <h1>{{ 'management.add_video'|trans }}</h1>
            <div>
                <button class="btn btn-success" form="{{ form.vars.id }}">{{ 'action.import'|trans }}</button>
                <a class="btn btn-primary" href="{{ path('app_videos_index') }}">{{ 'management.list_video'|trans }}</a>
            </div>
        </div>
        {{ include('videos/_form.html.twig') }}
    </section>
{% endblock %}
