{% extends 'base.html.twig' %}

{% block title %}{{ 'label.playlists'|trans }}{% endblock %}

{% block body %}
    <section class="container-fluid mt-3">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#playlistModal">
            {{ 'management.add_playlist'|trans }}
        </button>
        <section
            id="playlists"
            class="d-flex flex-wrap mt-2"
            data-number-video="{{ 'label.number_video'|trans }}"
            data-create-at="{{ 'label.create_at'|trans }}"
            data-href="{{ path('app_playlists_show', { 'id': 'id' }) }}"
        >
            {% for playlist in playlists %}
                <div class="card col-12 col-md-6 col-lg-4 col-xl-2">
                    <div class="card-body">
                        <a href="{{ path('app_playlists_show', { 'id': playlist.id }) }}" class="card-title">{{ playlist.title }}</a>
                        <p class="card-text mb-0">{{ 'label.number_video'|trans ~ ' : ' ~ playlist.videos.count }}</p>
                        <p class="card-text">{{ 'label.create_at'|trans ~ ' : ' ~ playlist.createAt|date('d/m/Y') }}</p>
                    </div>
                </div>
            {% endfor %}
        </section>
    </section>

    <div class="modal fade" id="playlistModal" tabindex="-1" aria-labelledby="playlistModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="playlistModalLabel">{{ 'management.add_playlist'|trans }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body bg-light">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="playlist" placeholder="{{ 'label.playlist'|trans }}">
                        <label for="playlist">{{ 'label.playlist'|trans }}</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="create-playlist" class="btn btn-primary">{{ 'action.create'|trans }}</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'action.close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('playlists') }}
{% endblock %}