{% extends 'base.html.twig' %}

{% block title %}{{ 'label.playlist'|trans ~ ' : ' ~ playlists.title }}{% endblock %}

{% block body %}
    <section class="container-fluid mt-3">
        <h1>{{ 'label.playlist'|trans ~ ' : ' ~ playlists.title }}</h1>
        <section class="d-flex flex-wrap mt-2">
            {% for video in playlists.videos %}
                <div class="card col-12 col-md-6 col-lg-4 col-xl-2">
                    <div class="card-body">
                        <a href="{{ path('app_video', { 'id': video.id }) }}" class="card-title">{{ video.title }}</a>
                        <p class="card-text">{{ 'label.import_at'|trans ~ ' : ' ~ video.createAt|date('d/m/Y') }}</p>
                    </div>
                </div>
            {% endfor %}
        </section>
    </section>
{% endblock %}

