{% extends 'base.html.twig' %}

{% block title %}{{ videos.title }}{% endblock %}

{% block body %}
    <section class="container mt-3">
        <h1>{{ videos.title }}</h1>
        <video class="img-thumbnail" src="data:video/mp4;base64,{{ videos|base64 }}" controls></video>
    </section>
{% endblock %}